<ul class="uui-pagination">
    <li class="actions-wrapper">
        <ul class="pagination-items">
            <li class="first-page">
                <button class='uui-button' ng-disabled="vm.isFirstPage()" ng-click="vm.toFirstPage()">В начало</button>
            </li>
            <li class="prev-page">
                <button class='uui-button' ng-disabled="vm.isFirstPage()" ng-click="vm.toPreviousPage()">Назад</button>
            </li>
        </ul>
    </li>
    <li class="pages-wrapper">
        <ul class="pagination-items">
            <li ng-repeat="item in vm.pages track by $index">
                <button class='uui-button' ng-class="{transparent: vm.page === item-1}"  ng-click="vm.setPage(item-1) ">{{item}}</button>
            </li>

        </ul>
    </li>
    <li class="actions-wrapper">
        <ul class="pagination-items">
            <li class="next-page">
                <button class='uui-button' ng-disabled="vm.isLastPage()" ng-click="vm.toNextPage()">Вперед</button>
            </li>
            <li class="last-page">
                <button class='uui-button' ng-disabled="vm.isLastPage()" ng-click="vm.toLastPage()">В конец</button>
            </li>
        </ul>
    </li>
</ul>