<div class="row">
	<div class="col-xs-12">
		<h2>Изменение пароля</h2>

		<form novalidate name="formPasswordChange">
			<div class="row">
				<div class="col-xs-12 col-sm-9">
					<!--new password-->
					<div class="form-group row">
						<label for="newpassword" class="col-xs-12 col-sm-4 col-form-label control-required">Новый пароль</label>
						<div class="col-xs-12 col-sm-8">
							<input class="form-control uui-form-element" ng-class="{'error': !formPasswordChange.newpassword.$valid && formPasswordChange.$submitted}"
								type="password" value="" id="newpassword" name="newpassword" placeholder="Новый пароль" ng-model="vm.newPassword"
								required>
						</div>
					</div>
					<!--confirmation new password-->
					<div class="form-group row">
						<label for="confirmPassword" class="col-xs-12 col-sm-4 col-form-label control-required">Подтверждение пароля</label>
						<div class="col-xs-12 col-sm-8">
							<input class="form-control uui-form-element" ng-class="{'error': !formPasswordChange.confirmPassword.$valid && formPasswordChange.$submitted}"
								type="password" value="" id="confirmPassword" name="confirmPassword" ng-model="vm.confirmPassword" placeholder="Подтверждение пароля"
								required>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-3">
					<p class="uui-description-text uui-small-text">Допустимые символы страчные (A-Z, a-z), цифры (0-9), спец символы !@#$%^&*()-_=:;,./?</p>
					<p class="uui-description-text uui-small-text">Минимальная длина пароля 6 символов, максимальная 40 символов.</p>
				</div>
			</div>

			<button class="uui-button raspberry pull-left" type="button">Отмена</button>
			<button class="uui-button lime-green pull-right" type="submit" ng-click="vm.submit()" trigger-validation="Форма заполнена неверно">Изменить пароль</button>
		</form>
	</div>
</div>