<div class="row">
    <div class="col-xs-12">
        <h2>Заказ принят</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <h6>Номер заказа:</h6>
        <h6>Дата заказа:</h6>
        <h6>Получатель:</h6>
    </div>
    <div class="col-xs-12 col-md-6">
        <p>{{vm.order.data.number}}</p>
        <p>{{vm.order.data.date}}</p>
        <p>{{vm.order.addressee.name}} {{vm.order.addressee.surname}}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p ng-show="vm.user.logged === true">Более подробную информацию вы можете узнать в разделе <a href ng-click="vm.stateGo('orders')">Мои заказы</a></p>
        <p ng-hide="vm.user.logged === true">Для получения более полного функционала вы можете <a href ng-click="vm.stateGo('login')">зарегестрироваться</a></p>
        <button class="uui-button blue" href ng-click="vm.stateGo('main')">Вернуться на главную</button>
    </div>
</div>