.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.note {
    &:after {
        content: '*';
    }
}

.foot-note {
    &:before {
        content: '* - ';
    }
}

.parentheses {
    &:before {
        content: '(';
    }
    &:after {
        content: ')';
    }
}