// primary
$dark_gray: #464547;
$white: #fff;
$blue: #39C2D7;
$lime_green: #A3C644;
// secondary
$dark_green: #7F993A;
$dark_blue: #1A9CB0;
$plum: #8E244D;
$raspberry: #B22746;
$light_gray: #ccc;
$gray: #999;
$medium_gray:#666;
// addition
$yellow: #FFDC19;
$orange: #FF9B19;
$red: #CB2323;
$fuchsia: #E4445F;
$black: #333333;
$violet: #8B5A9F;
$bg_gray: #F5F5F5;
$dark_bg_gray: #EBEEF0;