$card_width: 120px;
$card_descr_width: 130px;
$card_md_width: 125px;
$card_lg_width: 135px;
// padding
$padding_small: 5px;
$padding: 10px;
$padding_large: 20px;
$padding_huge: 30px;
// margin
$margin_small: 5px;
$margin: 10px;
$margin_large: 20px;
//animation
$item_delay: 0.1s;
$item_shift: 100%;
// media
$media_img_width: 100px;
// controls
$control_small_size: 70px;
$padding_col_form_label: 0.5rem;
// border
$border_size_thin: 1px;
$border_size: 2px;
// container
$main_container_padding_sm: 80px;
$main_container_padding_xs: 180px;
// sidebar
$sidebar-width: 260px;
// media grid
$screen_sm_max: 540px;
$screen_md_max: 720px;
$screen_lg_max: 960px;
$screen_xl_max: 1140px;