footer .uui-promo-footer .footer-navigation {
    padding-top: $padding;
    padding-bottom: $padding;
}

footer .uui-promo-footer .footer-navigation-top {
    vertical-align: top;
}

footer .uui-promo-footer .footer-navigation-vertical li {
    display: block;
}

.responsive-footer{
    min-width: 700px;
}