<div class="uui-side-bar">
	<ul class="sidebar-menu">
		<li class="header-sidebar-group">
			<a href ng-click="vm.stateGo('orders')" >
				<span>Персональные данные</span>
			</a>
		</li>
		<li>
			<a href ng-click="vm.stateGo('registrationPage')">Регистрационные данные</a>
		</li>
		<li>
			<a href ng-click="vm.stateGo('userDeliveryAddress')">Мои адреса доставки</a>
		</li>
		<li>
			<a href ng-click="vm.stateGo('changePassword')">Изменение пароля</a>
		</li>
		<li class="header-sidebar-group">
			<a>
				<span>Заказы</span>
			</a>
		</li>
		<li>
			<a href ng-click="vm.stateGo('orders')">Мои заказы</a>
		</li>
	</ul>
</div>